.light {
    --contact-card-bg: theme("colors.white");
    --contact-shadow: theme("colors.blue.50");
}

.dark {
    --contact-card-bg: theme("colors.slate.800");
    --contact-shadow: theme("colors.slate.950");
}

.contact-card {
    @apply rounded-xl;
    background: var(--contact-card-bg);
    box-shadow: 0 8px 30px -4px var(--contact-shadow);
}
