---
// general wrapper class for styling Content pages (specifically for markdown content)
// see https://docs.astro.build/en/recipes/tailwind-rendered-markdown/

// prose modifiers follow the syntax: prose-[element]:class-to-apply
---

<div
    class="prose dark:prose-invert min-w-full max-w-none
        prose-headings:font-bold prose-headings:text-cText
        prose-h1:text-4xl prose-h1:md:text-5xl prose-h1:lg:text-6xl prose-h1:mb-6 prose-h1:mt-2 prose-h1:text-cText prose-h1:uppercase prose-h1:text-center
        prose-h2:text-3xl prose-h2:mt-8 prose-h2:mb-4
        prose-h3:text-2xl prose-h3:mt-6 prose-h3:mb-3
        prose-p:text-cText prose-p:mb-6 prose-p:text-lg
        prose-ul:list-disc prose-ul:pl-6 prose-ul:mb-6 prose-ul:space-y-2
        prose-ol:pl-6 prose-ol:mb-6 prose-ol:space-y-2
        prose-li:text-cText prose-li:text-lg
        prose-a:text-blue-600 dark:prose-a:text-blue-300 prose-a:no-underline hover:prose-a:underline
        prose-strong:text-cText prose-strong
        prose-blockquote:border-l-4 prose-blockquote:border-sky-600 prose-blockquote:dark:border-emerald-400 prose-blockquote:pl-6 prose-blockquote:py-1 prose-blockquote:my-6 prose-blockquote:italic prose-blockquote:text-lg prose-blockquote:text-cTextOffset
        prose-code:text-sky-600 prose-code:dark:text-emerald-400 prose-code:bg-cBackgroundOffsetAccent prose-code:px-2 prose-code:py-0.5 prose-code:rounded-md prose-code:text-sm
        prose-pre:dark:bg-cBackgroundOffset prose-pre:p-4 prose-pre:rounded-lg prose-pre:my-6
        prose-hr:my-12 prose-hr:border-cBorder
        [&>*:first-child]:mt-0 [&>*:last-child]:mb-0
    "
>
    <slot />
</div>