---
import BaseLayout from "@layouts/BaseLayout.astro";

const suffix = false;
---

<BaseLayout pageTitle="MindVista", suffix={suffix}>
    <div
        class="py-[10vh] lg:py-[15vh] px-[5vw] md:px-[7.5vw] lg:px-[10vw] text-center"
    >
        <h2 class="text-5xl md:text-6xl font-bold tracking-tighter">
            Your Central Hub for <span class="text-cAccent">Wellness</span> and <span
                class="text-cAccent">Growth</span
            > at McGill
            <!-- <span class="hidden max-md:inline">Your Hub</span> <span class="hidden md:inline">The One-Stop-Shop</span> for <span class="text-cAccent">Wellness</span> and <span class="text-cAccent">Engagement</span> at McGill. -->
        </h2>

        <p
            class="text-xl tracking-tight font-medium text-cTextOffset py-6 md:px-20 lg:px-28"
        >
            Welcome to <span class="font-semibold text-cAccent">MindVista</span
            >, an innovative student-led initiative at McGill University
            committed to enhancing student wellness and engagement.
            <span class="hidden md:inline">
                asda Our passionate team of volunteers is devoted to regularly
                updating our website to simplify the process of accessing
                essential resources for your well-being.
            </span>
        </p>
    </div>
</BaseLayout>