---
interface Props {
    heading: string;
    description: string;
}

const { heading, description } = Astro.props; 
---

<div class="text-center bg-cBackgroundOffset w-screen py-24 mb-16">
    <h1 class="text-5xl md:text-6xl font-bold tracking-tighter">{heading}</h1>
    <p class="text-3xl md:text-4xl tracking-tight">{description}</p>
</div>