---
import BareLayout from '@layouts/BareLayout.astro';
import Footer from '@components/Footer';
import NavBar from '@components/NavBar';

import "@styles/global.css";

interface Props {
    pageTitle: string;
    description?: string;
    suffix: boolean; // whether or not " - MindVista" should be appended to the page title
    className?: string;
}

let { pageTitle } = Astro.props;
const { description, suffix, className } = Astro.props;

if (suffix) pageTitle += ' - MindVista';
---

<BareLayout pageTitle=`${pageTitle}` description={description}>
    <NavBar client:load />
    <main class={`${className} pt-[10vh]`}>
        <slot />
    </main>
    <Footer />
</BareLayout>


<!-- initialize and handle theme switching (see @components/ThemeIcon.tsx for event management) -->
<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
    })();

    const element = document.documentElement;
    if (theme === 'light') {
        element.classList.remove('dark');
        element.classList.add('light');
    } else {
        element.classList.remove('light');
        element.classList.add('dark');
    }

    window.localStorage.setItem('theme', theme);
</script>
