---
import BaseLayout from "@layouts/BaseLayout.astro";

interface Props {
    pageTitle: string;
    description?: string;
}

const { pageTitle, description } = Astro.props;
const suffix = false;
---

<BaseLayout pageTitle={pageTitle} description={description} suffix={suffix}>
    <div class="py-[5vh] lg:py-[10vh] px-[10vw] md:px-[7.5vw] lg:px-[10vw]">
        <slot />
    </div>
</BaseLayout>