.contactForm {
    background-color: var(--background-offset);
    color: var(--text);
    font-family: inherit;
    font-size: 1rem;

    border: 0.2rem solid var(--border);
    border-radius: 0.5rem;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
}

.contactForm label:not(:first-of-type), 
.contactForm .fieldError {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
}

.contactForm .captchaError {
    text-align: center;
}

.contactForm input, 
.contactForm textarea, 
.contactForm button, 
.contactForm select, 
.contactForm option {
    background-color: var(--background);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.contactForm input, 
.contactForm textarea, 
.contactForm button, 
.contactForm select {
    border-color: var(--background);
    border-radius: inherit;
}

.contactForm input, 
.contactForm textarea {
    min-height: 1.8rem;
    padding: 0.5rem;
}

.contactForm input:focus, 
.contactForm textarea:focus {
    outline: 0.2rem solid var(--border);
}

.contactForm textarea {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 12rem;
    max-height: 80vh;
    resize: none;
}

.contactForm .fieldError, 
.contactForm .error, 
.contactForm .success { 
    margin-top: 0.35rem; 
}

.contactForm .fieldError, 
.contactForm .error {
    color: var(--red);
}

.contactForm .success {
    font-weight: 600;
    text-align: center;
}

.contactForm .error {
    font-weight: 600;
    text-align: center;
}

.contactForm .error a {
    color: inherit;
}

.contactForm .hcaptcha {
    margin-top: 5vh;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .contactForm .hcaptcha {
        transform: scale(0.8);
    }
}

.contactForm button {    
    margin-top: 3vh;
    padding: 1rem;
    max-width: fit-content;
    align-self: center;

    font-weight: 600;

    cursor: pointer;
}

.contactForm button:active { 
    cursor: wait; 
}

.contactForm button:disabled {
    cursor: default;
    color: var(--red);
}

.contactForm label { 
    font-weight: 600; 
}

.contactForm a, 
.contactForm a:visited {
    color: var(--accent);
}